<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VueJS Tutorials</title>
		<link href="style.css" rel="stylesheet" />
		<script src = "https://unpkg.com/vue"></script>
	</head>

	<body>
		<div id="vue-app">
			<h1>{{ greet('afternoon') }}</h1>
			<p>Name: {{ name }}</p>
			<p>Job: {{ job }}</p>

			<h1>Data Binding</h1>
			<!-- how to bind data -->
			<a v-bind:href="website">Yahoo</a>
			<input type= 'text' v-bind:value = "name" />
			<p v-html='websiteTag'></p>

			<h1>Events</h1>
			<!-- I can use @ instead of v-on -->
			<button @click="add(1)">Add a Year</button>
			<button v-on:click="subtract(1)">Subtract a Year</button>
			<button @dblclick="add(10)">Add 10 Year</button>
			<button v-on:dblclick="subtract(10)">Subtract 10 Year</button>
			<p>My page is {{ age }}</p>
			<div id = 'canvas' v-on:mousemove='updateXY'>{{ x }}, {{ y }}</div>

			<!-- Event Modifier -->
			<a v-on:click.prevent = 'click' href = "http://www.thenetninja.co.uk">The Net Ninja</a>

			<h1>Keyboard Events</h1>
			<label>Name: </label>
			<input type ="text" v-on:keyup.enter = 'logName' />
			<label>Age: </label>
			<input type = "text" v-on:keyup.alt.enter = 'logAge' />

			<!-- Another way of data binding -->
			<h1>Keyboard Events</h1>
			<label>Name: </label>
			<input type ="text" v-model='log_name' />
			<span> {{ log_name }}</span>
			<label>Age: </label>
			<input type = "text" v-model='log_age' />
			<span> {{ log_age }}</span>

			<h1>Computeed Properties</h1>
			<button v-on:click='a++'>Add to A</button>
			<button v-on:click='b++'>Add to B</button>
			<p>A - {{ a }}</p>
			<p>B - {{ b }}</p>
			<p>Age + A = {{ addToA }}</p>
			<p>Age + B = {{ addToB }}</p>

		</div>
	
		<script src="app.js"></script>
	</body>
</html>