*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.page{
	display: flex;
	width: 100vw;
	height: 100vh;
}

.main_container{
	width: 100px;
	display: block;
	marigin: 0 auto;	
	height: 300px;
	align-self: center;
	background-color: red;
	position: relative;
}

.long_container{
	height: 100%;
}

.item{
	height: 100%;
	float: left;
}

.see_previous,
.see_next{
	height: 100%;
	width: 50px;
	background-color: green;
	position: absolute;
	left: 0;
	transition: all 0.2s ease-in-out;
}

.see_previous:hover{
	background-color: rgba(0, 0, 0, 0, 5);
}

.arrow_previous,
.arrow_next{
	width: 100%;
	align-self: center;
}

.see_next{
	right: 0;
	left: auto;
}

.arrow_next{
	transform: rotate(100deg);
}